@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e0e8f9; /* Blanc bleuté */
  background-color: #0d1b2a; /* Bleu nuit */
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

p{
  font-size: 1.5em;
}